* {
    margin: 0;
    padding: 0;

}
#grid-container {
    border: black 1px dotted;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.grid-item {
  width: calc(400px / 16);
  height: calc(400px / 16);
}
