* {
    margin: 0;
    padding: 0;

}

#container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#grid-container {
    border: black 1px dotted;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.grid-item {
    background-color: grey;
    width: calc(400px / 16);
    height: calc(400px / 16);
}
h3 {
    text-align: center;
}
